extends layout

block content
  - if (!everyauth.loggedIn)
    h2 Not Authenticated

  - else
    h2 Authenticated
  - if (everyauth.facebook)
    h3 Facebook User Data
    p= JSON.stringify(everyauth.facebook.user)
  - if (everyauth.google)
    h3 Google User Data
    p= JSON.stringify(everyauth.google.user)
  - if (everyauth.github)
    h3 Github User Data
    p= JSON.stringify(everyauth.github.user)
    p= everyauth.github.user.name
