doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if (!user)
      p
        a( href = "/" ) Home
        |  |
        a( href = "/user/login" )   Log In
        |  |
        a( href = "/user/register")  Register
    else
      p
        a(href="/") Home
        |  |
        a(href="/user/account")   Account
        |  |
        a(href="/contests")   Contests
        |  |
        a(href="/user/logout")   Log Out

    block content
