doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if (!user)
      p
        a( href = "/" ) Home
        |  |
        a( href = "/auth/facebook" )   Log In with Facebook
        |  |
        a( href = "/user/register")  Register
    else
      p
        a(href="/") Home
        |  |
        a(href="/user/account")   Account
        |  |
        a(href="/contests")   Contests
        |  |
        a(href="/user/logout")   Log Out

    if(message)
      - var typeAlert = 'alert-box ' +  ( (!type) ? 'success' : type)
      p(class= typeAlert ) #{message}

    block content
