extends layout

block content

  a( class = 'field', href = "/auth/google") Log in using your google account

  form(action = "/user/login" , method = "post")
    div
      label(class = 'field') Username:
      input(class = 'field', type = "text", name = "username")
    div
      label(class = 'field') Password:
      input(class = 'field', type = "password", name = "password")
    div
      input(class = 'field', type = "submit", value = "submit")

