extends layout

block content

  p
    h3 Log in with:
    a(href='/auth/facebook', style='border: 0px; margin-right: 10px; margin-left: 10px;')
      img(style='border: 0px', src='/images/facebook.ico')

    a(href='/auth/google', style='border: 0px; margin-right: 10px')
      img(style='border: 0px', src='/images/google.ico')

    a(href='/auth/github', style='border: 0px; margin-right: 10px')
      img(style='border: 0px', src='/images/github.ico')

  form(action = "/user/login" , method = "post")
    div
      label(class = 'field') Username:
      input(class = 'field', type = "text", name = "username")
    div
      label(class = 'field') Password:
      input(class = 'field', type = "password", name = "password")
    div
      input(class = 'field', type = "submit", value = "submit")

